node_modules

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
/home/waruni/path-pilot-full-stack-project/backend/backend/.env

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Environment variables
.env

# VSCode or JetBrains IDE
.vscode/
.idea/

backend/backend/__pycache__
__pycache__/
*.pyc
backend/backend/__pycache__/
backend/backend/__pycache__/*.pyc
backend/path_pilot_app/__pycache__/
backend/path_pilot_app/__pycache__/*.pyc

models/
